
Groomy_proto/.vs/Groomy_proto/FileContentIndex/22be9b49-47b7-4561-b80f-611f35419864.vsidx
Groomy_proto/.vs/Groomy_proto/FileContentIndex/9d5ce28b-18c8-488b-9d99-6c255587787e.vsidx
Groomy_proto/.vs/Groomy_proto/v17/Browse.VC.db
Groomy_proto/.vs/Groomy_proto/v17/Browse.VC.db-shm
Groomy_proto/.vs/Groomy_proto/v17/Browse.VC.db-wal
Groomy_proto/.vs/Groomy_proto/v17/Browse.VC.opendb
